<html>
<head>
    <meta charset="UTF-8"/>

    <style>
        li {
        margin: 1em 0;
        }
    </style>
</head>

<h1>Jüngste Aktivitäten auf unseren internen Nena1-Seiten</h1>

<h2>Forum Posts</h2>
<ul>
    {% for topic, digest in topic_digests.iteritems() %}
    <li>
        {% if digest.users|length == 1 %}
            {{digest.users[0]}} schrieb
        {% elif digest.users|length <= 5 %}
            {% for user in digest.users %}
                {% if loop.first %}
                    {{user}}
                {% elif not loop.last %}
                    {{user}},
                {% elif loop.last %}
                    und {{user}}
                {% endif %}
            {% endfor %}

            schrieben

        {% elif digest.users|length > 5 %}
            {% for user in digest.users[:5] %}
                {% if not loop.last %} {{user}}, {% else %} {{user}} {% endif %}
            {% endfor %}

            und {{digest.users|length - 5}} weitere BenutzerInnen schrieben
        {% endif %}

        zum Thema "{{topic}}" (<a href="{{digest.url}}">link</a>).
    </li>

    {% else %}
    <li><em>Keine neuen Forum-Posts.</em></li>
    {% endfor %}
</ul>

<h2>Blog Posts</h2>
<ul>
    {% for post in blog_posts %}
    <li>{{post.title}} <em>von</em> {{post.username}} (<a href="{{post.url}}">link</a>)</li>
    {% else %}
    <li><em>Keine neuen Blog-Posts.</em></li>
    {% endfor %}
</ul>


<h2>Veranstaltungen</h2>
<ul>
    {% for event in events %}
    <li>{{event.title}} <em>gepostet von</em> {{event.username}} (<a href="{{event.url}}">link</a>)
    </li>
    {% else %}
    <li><em>Keine neuen Veranstaltungen.</em></li>
    {% endfor %}
</ul>

<h2>Kommentare zu Blog Posts</h2>
<ul>
    {% for title, digest in blog_post_comments.iteritems() %}
    <li>
        {% if digest.users|length == 1 %}
            {{digest.users[0]}} kommentierte
        {% elif digest.users|length <= 5 %}
            {% for user in digest.users %}
                {% if loop.first %}
                    {{user}}
                {% elif not loop.last %}
                    {{user}},
                {% elif loop.last %}
                    und {{user}}
                {% endif %}
            {% endfor %}

            kommentierten

        {% elif digest.users|length > 5 %}
            {% for user in digest.users[:5] %}
                {% if not loop.last %} {{user}}, {% else %} {{user}} {% endif %}
            {% endfor %}

            und {{digest.users|length - 5}} weitere BenutzerInnen kommentierten
        {% endif %}

        den Blog Post "{{title}}" (<a href="{{digest.url}}">link</a>).
    </li>
    {% else %}
    <li><em>Keine neuen Kommentare zu Blog Posts.</em></li>
    {% endfor %}
</ul>

<h2>Kommentare zu Veranstaltungen</h2>
<ul>
    {% for title, digest in event_comments.iteritems() %}
    <li>
        {% if digest.users|length == 1 %}
            {{digest.users[0]}} kommentierte
        {% elif digest.users|length <= 5 %}
            {% for user in digest.users %}
                {% if loop.first %}
                    {{user}}
                {% elif not loop.last %}
                    {{user}},
                {% elif loop.last %}
                    und {{user}}
                {% endif %}
            {% endfor %}

            kommentierten

        {% elif digest.users|length > 5 %}
            {% for user in digest.users[:5] %}
                {% if not loop.last %} {{user}}, {% else %} {{user}} {% endif %}
            {% endfor %}

            und {{digest.users|length - 5}} weitere BenutzerInnen kommentierten
        {% endif %}

        die Veranstaltung "{{title}}" (<a href="{{digest.url}}">link</a>).
    </li>
    {% else %}
    <li><em>Keine neuen Kommentare zu Veranstaltungen.</em></li>
    {% endfor %}
</ul>

<br/>
<small>Das ist ein automatisch generiertes Mail. Bitte nicht darauf antworten.</small>
<p/>
<small>Falls Du keine Zusammenfassung-Emails mehr kriegen willst, wende Dich bitte an <a href="mailto:{{admin_email}}">{{admin_email}}</a>
</small>

</body>
</html>